body {
  margin: 0;
  background: pink;
  overflow: hidden;
  font-family: sans-serif;
}

/* CORAZONES */
.hearts {
  position: fixed;
  width: 100%;
  height: 100%;
}

.heart {
  position: absolute;
  color: red;
  animation: caer linear;
}

@keyframes caer {
  from { transform: translateY(-10vh); }
  to { transform: translateY(110vh); }
}

/* INICIO */
#inicio {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.libro {
  width: 200px;
  height: 250px;
  background: #ff6f91;
  position: relative;
  border-radius: 10px;
}

#candado {
  position: absolute;
  bottom: 20px;
  left: 80px;
  font-size: 30px;
}

#llave {
  position: absolute;
  bottom: -60px;
  left: 80px;
  font-size: 40px;
}

/* LIBRO */
.hidden {
  display: none;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* EFECTO LIBRO REAL */
.book {
  width: 300px;
  height: 400px;
  position: relative;
  perspective: 1500px;
}

.page {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-origin: left;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.page.flipped {
  transform: rotateY(-180deg);
}

.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  border-radius: 10px;
  backface-visibility: hidden;
}

.front img {
  width: 100%;
  border-radius: 10px;
}

.back {
  transform: rotateY(180deg);
}

p {
  padding: 10px;
}
